body{
    margin: 0px;
    padding-top: 5px;
    background-image: url(images/bg-img.jpg);
}
/* header{
    padding-top: 1%;
    background-color: rgb(255, 255, 255);
    text-align: center;
} */
.header{position: fixed;
    padding:0 60px 0 60px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #5ba09d;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)}
    .logo{
        float: left;
        text-align: left;
        margin: 23px 4px;
    }
    .logo img{    width: 135px;
        height: 90px;
        display: block;
    }
    .navbar{
        margin: 10px auto ;
        text-align: center top;
        text-decoration: none;
        display: inline-block;
    }
    
    .header-menu{
        float: right;
        margin: 25px ;
        text-decoration: none;
        }
    .header-menu ul li {
        display: inline-block;
        position: relative;
        margin: o 10px;
    }
    .header-menu ul li a{
        position: relative; display: block;
        overflow: hidden;
        padding: 10px;
        color: black;
        font-size: 21px; line-height: 20px;
        text-decoration: none;
    }
    .header-menu ul li a:hover {color: rgb(57, 193, 193);}

    .image{
        text-align: right;
        padding-top: 180px;
       position: relative;
       
    }
.aboutme h2.aboutheading{
        font-size: 35px;
        color: #202936;
        text-transform: uppercase;
        margin-left: 155px;
        margin-top: -600px;
        text-align: justify;
    }
.about-soni-realty{
    padding-right: 8px;
    color: #23a3da;
    font-family: 'Gotham-Light';
    letter-spacing: normal;
    font-weight: 700;
    margin-left: 155px;
    font-size: 25px;
}
h4.subheading{
    font-size: 25px;
}
.aboutcontent{
    margin-left: 155px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
    text-align: justify;
    margin-right: 620px;
}
.btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: black;
  margin-left: 375px;
  font-size: 20px;
  border-radius: 1.2fr ;
  border: .2rem solid rgb(20, 26, 27);
  padding:.8rem 3rem;
  text-decoration: none;
}
.btn:hover{
    background: #202936;
    color: #ffffff;
}

.background-image{
    background-image: url(../images/bg2-img.jpg);
    height: 757px;
    width: 1472px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 300px;
    /* background-attachment: fixed; */
    position: absolute;
    /* margin-bottom: 500px;
    /* background-position: bottom 1000px; */
    
}
.number h2{
    text-align: center;
    font-size: 35px;
    padding-top: 24px;
    /* color: rgb(0, 255, 255) ; */
color: #ffffff;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.row-element{
    float: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  
}
.value-box{
    margin: 30px;
}
.value-box span{
    display: block;
    color: #130756;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Merriweather';
    padding: 0 0 14px 0;
    font: bold;
}
.value-box p{
    display: block;
    color: #130756;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Merriweather';
    font-weight: 300;
    font: bold;
}
   
.container{
    margin-top: 1120px;
    display: inline-block;
    text-align: center;
    margin-left: 564px;
}

.project{
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none; 
    text-align: center;
    margin-top: 1200px;
}
 .feature .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem,1.2fr));
    gap: 1rem;
    margin-left: 80px;
    padding-top: 40px;
    padding-left: 10px;
}
.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.btns{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: black;
    margin-left: 56px;
    font-size: 20px;
    border-radius: 1.2fr ;
    border: .2rem solid rgb(20, 26, 27);
    padding:.8rem 3rem;
    text-decoration: none;
    margin-top: 20px;
  }
  .btns:hover{
      background: #202936;
      color: #ffffff;
  }
  .project1{
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none; 
    text-align: center;
    margin-top: 60px;
}



.footer{
    background-color: #5ba09d;
    margin-top: 30px;
    padding-bottom: 30px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1.2rem;
}

.footer .box-container .box h3{
    font-size: 23px;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 20px;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    margin-top: 120px;
    line-height: 1.8;
    font-size: 18px;
    color:var(--light-color);
    margin-left: 20px;
}

.footer .box-container .box .share a{
     height:3rem;
    width:3rem;
    line-height:3rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 80%;
    padding:1rem;
    border-radius: .5rem;
    font-size: 0.8rem;
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 2.5rem;
    display: block;
}
.butns{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: black;
    margin-left: 56px;
    font-size: 13px;
    border-radius: 0.8rem ;
    border: .2rem solid rgb(20, 26, 27);
    padding:.8rem 3rem;
    text-decoration: none;
    margin-top: 20px;
  }
.butns:hover{
      background: #202936;
      color: #ffffff;
  }
